.netrwhist
nvim/autoload/plug.vim
nvim/autoload/plugged/*
nvim/autoload/plugged_temp/*
nvim/undo/
nvim/session/
config/lazygit/
!config/lazygit/config.yml
config/.secrets
my-org-init.el
emacs/external-packages/
emacs/project-setups/
.DS_Store
.git/*
.config/jjui/themes
