[submodule "vim/.vim/bundle/Vundle.vim"]
    path = vim/.vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
