source $HOME/dotfiles/zsh/functions.zsh

# VIM
alias vi='nvim'
alias vim='nvim'

# File navigation
alias lo='ls -1'
alias ll='lo -l'
alias la='lo -A'
if [[ $OSTYPE != darwin* ]]; then
    # If not on OSX, include the --group-directories-first flag since it's only available in unix terminals
    alias lo='ls -1 --group-directories-first'
fi

# Utils
alias c='clear'
alias psaux='ps aux | grep'

alias please='sudo !!'
alias ev='cd ~/dotfiles/vim/.vim && vim'
alias ez='cd ~/dotfiles/zsh/ && vim'
alias sz='source ~/.zshrc'
alias et='cd ~/dotfiles/tmux/ && vim .tmux.conf'
alias st='tmux source-file ~/.tmux.conf'

alias gaf=fzf_git_add_changed
alias gchb=fzf_git_checkout_branch
alias gchf=fzf_git_checkout_changed
alias gs='gst'

alias fmuxa=fzf_tmux_attach
alias gadd=fzf_git_add

alias e='exit'
