source $HOME/dotfiles/zsh/functions.zsh

# VIM
alias vi='nvim'
alias vim='nvim'

# File navigation
alias lo='ls -1'
alias ll='lo -l'
alias la='lo -A'
if [[ $OSTYPE != darwin* ]]; then
    # If not on OSX, include the --group-directories-first flag since it's only available in unix terminals
    alias lo='ls -1 --group-directories-first'
fi

# Utils
alias c='clear'
alias psaux='ps aux | grep'

alias please='sudo !!'
alias vimconfig='cd ~/dotfiles/vim/ && vim .vimrc'
alias zshconfig='cd ~/dotfiles/zsh/ && vim .zshrc'
alias tmuxconfig='cd ~/dotfiles/tmux/ && vim .tmux.conf'

alias gaf=fzf_git_add_changed
alias gchf=fzf_git_checkout_changed
alias gcof=fzf_git_checkout_branch
alias gs='gst'

alias fmuxa=fzf_tmux_attach

alias e='exit'
